<main>
  <form action="/login" method="post">
    <div>
      <input type="email" name="email" placeholder="email" />
    </div>
    <div>
      <input type="password" name="password" placeholder="password" />
    </div>
    <button>Entrar</button>
  </form>
  <p style="color: red;">{{error}}</p>
</main>